<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/add">
        <table>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>City</th>
            </tr>
            <tr>
                <td><input name="name"></td>
                <td><input name="age" type="number"></td>
                <td><input name="city"></td>
            </tr>
            <tr>
                <td rowspan=3><input type="submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>