div{
    height: 40px;
    width: 40px;
    background-color: cornsilk;
    border: solid crimson 1px;
    margin: 20px;
    font-size: 20pt;
}
#two{
    transform: scale(2);
}
#four{
    transform: rotate(45deg);
}
#one{
    transform: translate(20px, 20px);
}
#nine{
    transform: skew(20deg, 30deg);
}