#one{
    height: 60px;
    width: 60px;
    background-color: violet;
    border: solid blue 2px;
    font-size: 20pt;
    opacity: 80%;
}
#two{
    height: 60px;
    width: 60px;
    background-color: violet;
    border: solid blue 2px;
    font-size: 20pt;
    opacity: 80%;
}
#three{
    height: 60px;
    width: 60px;
    background-color: violet;
    border: solid blue 2px;
    font-size: 20pt;
    opacity: 80%;
}
#four{
    height: 60px;
    width: 60px;
    background-color: violet;
    border: solid blue 2px;
    font-size: 20pt;
    opacity: 80%;
}
#five{
    height: 60px;
    width: 60px;
    background-color: violet;
    border: solid blue 2px;
    font-size: 20pt;
    opacity: 80%;
}
#six{
    height: 60px;
    width: 60px;
    background-color: violet;
    border: solid blue 2px;
    font-size: 20pt;
    opacity: 80%;
}